{% extends 'guest/base.html' %}

{% load crispy_forms_tags %}
{% block header %}{% endblock %}

{% block body %}
<style>body{
  margin-top: 60px;
}</style>
<div class="container px-5">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
<div class="card mt-4">
    <div class="card-body">
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  
      <h2>Log in</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <hr>
        <button type="submit" class="btn btn-primary">Log in</button>
        <!-- |  <a class="btn btn-success" href="{% url 'signup' %}">Sign Up</a> -->
    
      </form>
      
</div>
</div>
</div>
</div>
</div>
{% endblock %}
