
{% extends 'guest/base.html' %}
{% load static %}

{% block body %}
<div class="container px-5">
<h2>FAQ</h2>

<p>Q.What is the name of the Charitable Trust?</p>
   <p>Ma Dayanitha Foundation</p>
   <p></p>
<p>Q. What is the  Registration Number of the  Charitable trust?</p>
   <p>81/4/2019/2/205</p>
<p></p>
<p>Q. What is the Permanent Account Number (PAN) of the Charitable trust?</p>
   <p>AAGTM4298J</p>
<p></p>
<p>Q. When the Company Started?</p>
   <p>29/07/2019</p>
<p></p>
<p>Q. What is Mdfcare Online Helping Platform  and how it is related to Ma Dayanitha           Foundation?</p>
   <p>mfcare is a online platform. A Service product from  Ma Dayanitha Foundation</p>
<p></p>
<p>Q. Is Mdfcare Online Helping Platform legally valid ?</p>
   <p>Yes, Mdfcare Online Helping Platform is an online platform by Ma Dayanitha Foundation which operates as per all the laws of Government of India.</p>
<p></p>
<p>Q. What is the office address of MDF Care ?</p>
   <p>Ma Dayanitha Foundation, 1A, K.K.Building, Mettupalayam Street, Palakkad, 580001</p>
<p></p>
<p>Q. Whether Mdfcare Online Helping Platform is a money chain/money circulation? If not why?</p>
   <p>No, Money chain/Money circulation is a financial dealing in which all individuals in a company deposit money into the company bank account prescribed by that company. People make investment based on the attractive investment structure that appeals to everyone, for the money invested and returns it as cash. Mdfcare Online Helping Platform involves only financial transactions between our platform users. The Mdfcare Online Helping Platform is a platform which is used by the individuals for financial transactions between them. No money is accumulated in a bank account of the company. Hence it is not money chain or money circulation. Company is only charging a maintenance fee from individuals for using this platform.</p>
<p></p>
 <p></p>
<p>Q. Whether Mdfcare Online Helping Platform is a Multilevel Marketing Business?, if not why?</p>
    <p>Mdfcare Online Helping Platform is not a Multilevel Marketing Business. There is no investment structures of a Multilevel Marketing Business or terms and conditions of a Multilevel Marketing Business in this  Platform. Because Mdfcare Online Helping Platform is  using the  binary method, there is a similarity between Mdfcare Online Helping Platform and a Multilevel Marketing Business, but the important thing is that simply using a  binary method  does not make mdfcare a  Multilevel Marketing Business Plan.</p>
<p></p>
<p></p>
<p></p>
<p>Q. How does Mdfcare Online Helping Platform benefit an involved person ?</p>
   <p>Mdfcare Online Helping Platform gives a person the opportunity  to improve economic condition of ten individuals by helping them financially in their lives and by seeking help from others. Mdfcare Online Helping Platform instills belief in a person  that he/she is someone who lives as a social being and that he/she will be able to nurture and help others in the society. The ultimate goal of Mdfcare Online Helping Platform is to promote good and happy life for its individuals.Mdfcare Online Helping Platform creates conditions and opportunities for the all round development of individual personality. Mdfcare Online Helping Platform ensures harmony and cooperation among individuals in spite of their financial conflicts and tensions.</p>
<p></p>
<p>Q. MDF Care Working Hours.</p>
   	<p>Monday-Saturday	10.00 AM to 5.00 PM</p>
	<p>Sunday	OFF</p>
	<p>National Holidays/Local Holidays	OFF</p>
	<p>National Holidays/Local Holidays	OFF</p>
<p></p>
<p></p>
<p>Q. Where the new invited members in Mdfcare Online Helping Platform come in the genealogy of an existing member?</p>
  <p>A person associating with Mdfcare Online Helping Platform is only required to invite two persons. He/She don’t bother about the genealogy of the new members.</p>
<p></p>
  <p></p>
  <p></p>
<p></p>
<p>Q. What is the concept of Mdfcare Online Helping Platform ?</p>
     <p>Mdfcare Online Helping Platform  provides us with a system and a platform to work together for the betterment of our society. Mdfcare Online Helping Platform gives  importance to social commitments to the common people.If everyone is selfish, the society will go in to a deep trouble.  We are watching the after effects of this now all around us. Mdfcare Online Helping Platform is putting forward the idea that we can Create Change In Someone Else's Life When You Help Others. The importance of helping others goes far beyond the positive results you might experience. Helping others has a big impact, especially on the people receiving that help. . The concept of Mdfcare Online Helping Platform is to give spread  humanity and love in the society by helping each others. That’s why Mdfcare Online Helping Platform is so relevant in the present scenario.</p>
<p></p>
<p>Q. How a person can associate to Mdfcare Online Helping Platform  ?</p>
   <p>A person can associate to Mdfcare Online Helping Platform  by the invitation invitation link from an existing members of Mdfcare Online Helping Platform.</p>
<p></p>
<p>Q. How a person can register to Mdfcare Online Helping Platform ?</p>
   <p>The person whose name, email id, mobile number, google pay number and password can be registered with the registration invitation link received by an individual.</p>
<p></p>
<p>Q. How to get Mdfcare Online Helping Platform User ID ?</p>
   <p>Once the registration is completed, The system will automatically generate a user ID which will be sent to the whatsapp number given at the time of registration from Mdfcare Online Helping Platform. </p>
<p></p>
<p>Q. How many persons shall be helped by a person associated with Mdfcare Online Helping Platform platform?</p>
 <p>A person shall help maximum 10 peoples who are in 10 stages of Mdfcare Online Helping Platform.</p>
<p></p>
<p>Q. How much amount shall be given by an individual as help for associating with Mdfcare Online Helping Platform platform?</p>
   <p>Initially each member has to pay only 2020 rupees from his hand  for joining in Mdfcare Online Helping Platform</p>
<p>Q. How much amount shall receive from Mdfcare Online Helping Platform as help?</p>
   <p>A person shall receive Rs. 82,95,500/- from 2,046 members from the 10 stages of the that member</p>
<p>Q. How much stages you can be seen in the Mdfcare Online Helping Platform platform.</p>
<p>There are only 10 stages for Mdfcare online helping platform. After completing 10 stages, a person leaves Mdf care online helping platform.</p>
<p></p>
<p>Q. How a person will receive the helping money  from others   in Mdfcare Online Helping Platform platform?</p>
  <p>A person can receive money through payment wallets. For persons in India payments wallets like Whatsapp, Phone Pe, Google Pay, True Caller, Paytm, BHIM etc.</p>
<p>Q. Is there any limit for a person to receive helping money via Mdfcare Online Helping Platform ?</p>
   <p>Every one has the opportunity to collect Rs. 82,95,500/- in Mdfcare Online Helping Platform. Afterthis goal is attained, a person has to leave the platform.</p>
<p></p>
<p>Q. How does Mdfcare Online Helping Platform show the amount of money received to a member?</p>
   <p>Mdfcare Online Helping Platform shows the amount of money received in the receive help of the members login page. A person can download it from the receive help section.</p>
<p></p>
<p>Q. How to retire from Mdfcare Online Helping Platform?</p>
   <p>A person (ID) can automatically retire after receiving Rs. 82,95,500/- (ID Retire)</p>
<p>Q. Where does Mdfcare Online Helping Platform work usually?</p>
   <p>Since giveNtake is an online platform, it can be operated anywhere in the world. Members from anypart of the world can be enrolled.</p>
<p></p>
<p>Q. What is the benefit for Ma Dayanitha Foundation Charitable trust from Mdfcare Online Helping Platform?</p>
   <p>Mdfcare Online Helping Platform is only collecting the Platform Maintenance Fee (PMF) from the users of theplatform. This money is collected through the bank account of charitable trust and used for various charitable activities of Ma Dayanitha Foundation.</p>
<p></p>
<p>Q. Who is required to give Platform Maintenance Fee (PMF) in Mdfcare Online Helping Platform  ?</p>
<p>The person who gives help to others and recieves help from others, is required to give Platform Maintenance Fee (PMF) to Mdfcare Online Helping Platform </p>
<p></p>
<p>Q. Will Mdfcare Online Helping Platform conduct meetings & promotions ?</p>
   <p>No, The members of Mdfcare Online Helping Platform will conduct meetings and promotions.</p>
<p></p>
<p>Q. How to become a  member of Mdfcare Online Helping Platform of Mdfcare Online Helping Platform ?</p>
 <p>Any individual can  associate with this platform by contacting existing members. </p>
<p></p>
<p>Q. Who is going to conduct Mdfcare Online Helping Platform public awareness programs?</p>
<p>No, The members of Mdfcare Online Helping Platform will conduct public awareness programs</p>
<p></p>
<p>Q. How Many members must be invited in Mdfcare Online Helping Platform by a person?</p>
<p>A person associating with Mdfcare Online Helping Platform must invite minimum of two persons within 15 days of his/her registration.</p>
<p></p>
<p>Q. What is the eligibility to associate with Mdfcare Online Helping Platform?</p>
   <p>Any person who is above 18 years old, One should have a smart phone and a google pay account. one should be intrested to help others and do charity with their own money, These are the eligibility to associate with the Mdfcare Online Helping Platform</p>
<p></p>
<p>Q. Is there any guarantee for receiving help money?</p>
   <p>No, This is a contribution to help others in their financial need. There is no levy/tax charged for that. There is no guarantee for the help received.</p>
<p></p>
<p>Q. How is the Platform maintenance fee used.?</p>
    <p>Platform maintenance fee is used for maintenance of the platform and to fund charitable actiities of Maa dayanitha foundation.</p>
<p></p>
   <p></p>
<p>Q. Can you convince people that Mdfcare Online Helping Platform is not a fraud ?</p>
<p>Mdfcare Online Helping Platform is legal. Transactions are done by members to the members. The company only gets PMF.</p>
</div>
{% endblock %}