
{% extends 'guest/base.html' %}
{% load static %}
{% block btn %}<a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>{% endblock %}
{% block body %}
        
        <!-- Content section 1-->
        
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'icon1.png' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Aid for expensive 
                                treatments, surgeries,
                                transplantations etc</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'icon2.png' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Aid for medical 
                                emegencies</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'icon3.png' %}" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Job oriented training for financially
                                backward youth</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="container px-5">
            <h2>JOIN US- Be a CARE GIVER</h2>
            <p>You can join our online helping platforn thereby helping those who are
            in need and earning for yourselves also.To know more about MDF Care
            Online Helping Platform and to join please  contact with our care givers</p>
            
            <p>if we have love, unity and compassion we can help those 
                who are struggling </p>

            <h2>HELP OTHERS AND GROW TOGETHER</h2>
            <p class="lead">Join our online helping platform, help to enroll others, give and recieve

            help. You can earn while helping those are in need.</p>
            <p>MA DAYANITHA FOUNDATION</p>

            <p>Ma Dayanitha Foundation is a charitable trust trying to reach each and every individual 
            across India to ensure that no life is lost to due to lack of resources. We strive to create 
            a better society through instilling values and education.</p>
        </div>


    <!-- START THE FEATURETTES -->
    <!-- <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">Services</h3>
                <h2 class="mb-5">What We Offer</h2>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Donate</strong></h4>
                    <p class="text-faded mb-0">
                        Make Charitable 
                        Donations  in the
                        form of cash, clothes,  educational equipments
                        and other assets</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Volunteer</strong></h4>
                    <p class="text-faded mb-0">Assist to provide help 
                        to the needy.  Raise
                        awareness of organization's
                         work and financial needs
                        amongst people. </p>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-like"></i></span>
                    <h4><strong>Fund Raising</strong></h4>
                    <p class="text-faded mb-0">
                        Organize activities 
                to raise funds for 
                charitable activities of 
                mdf care. 
                    </p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-mustache"></i></span>
                    <h4><strong>Be care giver</strong></h4>
                    <p class="text-faded mb-0">Join our mdf care 
                        online helping platform 
                        and help others and 
                        recieve help from many</p>
                </div>
            </div>
        </div>
    </section> -->
    <hr class="featurette-divider">
    <div class="container px-5">
        
    <div class="row">
        <div class="col-lg-3">
            <h3>Donate</h3>
            <p>
                Make Charitable 
Donations  in the
form of cash, clothes,  educational equipments
and other assets
            </p>
        </div>
        <div class="col-lg-3">
            <h3>Volunteer</h3>
            <p>Assist to provide help 
                to the needy.  Raise
                awareness of organization's
                 work and financial needs
                amongst people. </p>
        </div>
        <div class="col-lg-3">
            <h3>Fund Raising</h3>
            <p>Organize activities 
                to raise funds for 
                charitable activities of 
                mdf care. </p>
        </div>
        <div class="col-lg-3">
            <h3>Be care giver</h3>
            <p>Join our mdf care 
                online helping platform 
                and help others and 
                recieve help from many </p>
        </div>
    </div>
</div>

        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; mdf care 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    {% endblock %}