{% extends 'adminapp/base.html' %}
{% block css %}
    

<style>

  .btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  }

  .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
  }

  .btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
  }

  .btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
  }



  ul.children {
      padding-left: 12px;
      width: auto;
  }
</style>
{% endblock %}

{% block extra_content %}

<div  style="background-color: #f5f5f5; min-height: 600px;" class="d-flex flex-column p-3">
  <a class="nav-link" href="javascript:void(0)" data-bs-parent="a parent" data-bs-toggle="modal" 
    data-bs-target="#categoryModal" style="font-size: 1.2em; color:cornflowerblue"">Add User</a>
<ul class="list-unstyled">
  <li>
    {% for item, info in alist %}
      {% if info.open %}
        <ul class="btn-toggle-nav list-unstyled children">
          <li>
      {% else %}
          </div></li><li>
      {% endif %}
        <button class="btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#ov{{item.id}}-collapse">
          #{{item.id}} {{ item.user.first_name }} {% if item.user.is_superuser %}ADMIN{% endif %}
        </button>
        <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#categoryModal" 
          data-bs-parent="{{item.user}}" data-bs-parent-id="{{item.id}}" style="margin: 0">+</a>
        {% if not item.user.is_superuser %}<a href="{% url 'adminapp:user' item.user.username %}" style="margin: 0">view</a>{% endif %}
      <div class="collapse" id="ov{{item.id}}-collapse">
      {% for close in info.close %}
        </div></li></ul>
      {% endfor %}
    {% endfor %}
  </li>
</ul>
</div>

{% endblock %}



