{% extends 'adminapp/base.html' %}
{% block extra_content %}<br>
<p class="lead">Search Results for {{request.GET.search}}</p>

<hr>
<div class="row">
    {% for user in users %}
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"> Paid by: #{{user.username}} {{user.first_name}}</h5>
          <a href="{% url 'adminapp:user' user.username %}" style="margin: 0">view</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}