{% extends 'base.html' %}
{% block content %}<br>
<p class="lead">#{{sel_user.username}} {{sel_user.first_name}}</p>

<hr>
<div class="row">
    {% for ancestor in ancestors %}
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">#{{ancestor.user.username}} {{ancestor.user.first_name}}</h5>
          <p class="card-text">Give Help Amount: 0</p>
          <p class="card-text">Status: Paid</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


