{% extends 'base.html' %}
{% load mytags %}
{% block content %}<br>
<p class="lead">#{{sel_user.username}} {{sel_user.first_name}}</p>

<hr>
<div class="row">
    {% for ancestor in ancestors %}
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">#{{ancestor.user.username}} {{ancestor.user.first_name}}</h5>
          <p class="card-text">Mobile: {{ancestor.user.mobile}}</p>
          <p class="card-text">Email: {{ancestor.user.email}}</p>
          <p class="card-text">Google Pay: {{ancestor.user.gpay}}</p>

          <p class="card-text">Give Help Amount: ₹{{ amts|index:forloop.counter0 }}.00</p>
          <p class="card-text">Status: {% if forloop.last and not is_last_ancestor_paid %}Un Paid {% else %}Paid{% endif %}</p>
          {% if forloop.last %}
            <form method="post" action="{% url 'adminapp:user' sel_user.username%}">{% csrf_token %}
              <input type="hidden" name="paid_to" value="{{ancestor.user.username}}">
              <input type="hidden" name="payment_status" value="paid">
              <button class="btn btn-primary btn-sm">Change Status to Paid</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


