{% url 'myapp:dashboard' as dashboard %}
{% url 'myapp:givehelp' as givehelp %}
{% url 'myapp:receivehelp' as receivehelp %}
{% url 'myapp:receivehelpchart' as receivehelpchart %}
{% url 'profile' as profile %}



<li class="nav-item">
  <a class="nav-link{% if dashboard in request.path %} active{% endif %}" href="{{dashboard}}">Dashboard</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if givehelp in request.path %} active{% endif %}" href="{{givehelp}}">Give Help</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if receivehelp in request.path %} active{% endif %}" href="{{receivehelp}}">Receive Help</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if receivehelpchart in request.path %} active{% endif %}" href="{{receivehelpchart}}">Receive Help Chart</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">PMF</a>
</li>
<li class="nav-item">
  <a class="nav-link{% if profile in request.path %} active{% endif %}" href="{{profile}}">#{{user.username}} {{user.first_name}}</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>


  