{% extends 'base.html' %}

{% load mytags %}


{% block content %}<br>

<h3>Give Help</h3>

<div class="row">
    {% for ancestor in ancestors %}
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">#{{ancestor.user.username}} {{ancestor.user.first_name}}</h5>
          
          <p class="card-text">Give Help Amount: ₹{{ amts|index:forloop.counter0 }}.00</p>
          <p class="card-text">Status: {% if user|paid_to:ancestor %}Paid{% else %}Un Paid{% endif %}</p>
          
          {% if forloop.last and is_last_ancestor_paid %}
            
              <!-- if nusra pay sumesh, then sumee and sofi profile page will show nusra --> 
              <p class="card-text">Mobile: {{ancestor.user.mobile}}</p>
              <p class="card-text">Email: {{ancestor.user.email}}</p>
                     
              <p class="card-text">Google Pay: {{ancestor.user.gpay}}</p>
              {% if user|paid_requested:ancestor %}
              Payment Requested
              {# <img src="{{user|get_screenshot:ancestor}}">ss #}
              {% else %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="to_user" value="{{ancestor.user.username}}"/>
                <!-- <div class="mb-3">
                  <label for="formFile" class="form-label">Google Pay</label>
                  <input class="form-control" type="file" id="formFile" name="screenshotfile">
                </div> -->
                <button class="btn btn-sm btn-primary btn-block">Payment Done</button>
              </form>
              {% endif %}
              
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


