{% extends 'base.html' %}

{% load mytags %}

{% block content %}<br>
{% include 'myapp/_header.html' with active='givehelp' %}
<h3>Give Help</h3>

<div class="row">
    {% for ancestor in ancestors %}
    <div class="col-sm-4">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">#{{ancestor.user.username}} {{ancestor.user.first_name}}</h5>
          <p class="card-text">Mobile: {{ancestor.user.mobile}}</p>
          <p class="card-text">Email: {{ancestor.user.email}}</p>
          
          <p class="card-text">Give Help Amount: ₹{{ amts|index:forloop.counter0 }}.00</p>
          <p class="card-text">Status: {% if forloop.last %}Un Paid {% else %}Paid{% endif %}</p>
          {% if forloop.last and is_last_ancestor_paid %}
            
              <!-- if nusra pay sumesh, then sumee and sofi profile page will show nusra -->            
              <p class="card-text">Google Pay: {{ancestor.user.gpay}}</p>
              <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
              </div>
              <button class="btn btn-sm btn-primary btn-block">Upload Google Pay Screenshot</button>
            
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


